.box{
    width: 400px;
    height: 400px;
}
#box1{
    float: left;
    background-color: aquamarine;
}
#box2{
    float: left;
    background-color: beige;
}
#msg{
    border: dashed;
    clear: both;
    width: 400px;
    height: 400px;
}